<form action="http://isms.apbw.com.tw/api/SendSMS.php" method="GET" enctype="application/x-www-form-urlencoded">
	<input name="CID" type="text" value="SMS"/><br/>
	<input name="CPW" type="text" value="7233045"/><br/>
	<input name="MDN" type="text" value="0982684057"/><br/>
	<input name="L" type="text" value="U"/><br/>
	<input name="N" type="text"/><br/>
	<input name="M" type="text"/><br/>
	<input type="submit"/>
</form>